
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    margin: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    font-family: sans-serif;
    background-color: transparent;
  }
  .nav__logo {
    position: fixed;
    left: 5px;
    width: 100px;
    object-fit: contain;
  }
  
  .nav-black {
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    margin: 0;
    padding: 0;
    height: 50px;
  }
  .navs {
    width: 150px;
    left: 5px;
  }

  .avator{
    position: fixed;
    right: 30px;
    width: 80px;
    height: 40px;
    object-fit: contain;
    background-color: red;
    color: white;
    border-style: none;
  }
  .avator:hover{
    background-color: gray;
  }